/* Copyright Gennadiy Rozental 2001-2006. 
 * Distributed under the Boost Software License, Version 1.0. 
 * (See accompanying file LICENSE_1_0.txt or copy at www.boost.org/LICENSE_1_0.txt)
 */

@import "btl-structure.css";
@import "btl-headers.css";
@import "btl-links.css";
@import "btl-paragraphs.css";
@import "btl-tables.css";
@import "btl-code.css";

SPAN.test-output
{
    font-family:    Arial; 
    font-size:      12pt;
    white-space:    nowrap
}
SPAN.current_article
{
    font-weight:    bold;
}
