name: GitHub Actions CI

on:
  pull_request:
  push:
    branches:
      - master
      - develop
      - githubactions*
      - feature/**
      - fix/**
      - pr/**

env:
    B2_VARIANT: variant=release

jobs:
  posix:
    strategy:
      fail-fast: false
      matrix:
        include:
          - name: "TOOLSET=gcc-4.8 CXXSTD=03 Job 0"
            buildtype: "boost"
            packages: "g++-4.8"
            packages_to_remove: ""
            os: "ubuntu-20.04"
            container: "ubuntu:14.04"
            cxx: "g++"
            sources: ""
            llvm_os: ""
            llvm_ver: ""
            toolset: "gcc-4.8"
            cxxstd: "03"
          - name: "TOOLSET=gcc-5 CXXSTD=03 Job 1"
            buildtype: "boost"
            packages: "g++-5"
            packages_to_remove: ""
            os: "ubuntu-20.04"
            cxx: "g++"
            sources: ""
            llvm_os: ""
            llvm_ver: ""
            toolset: "gcc-5"
            cxxstd: "03"
          - name: "TOOLSET=gcc-5 CXXSTD=11 Job 2"
            buildtype: "boost"
            packages: "g++-5"
            packages_to_remove: ""
            os: "ubuntu-20.04"
            cxx: "g++"
            sources: ""
            llvm_os: ""
            llvm_ver: ""
            toolset: "gcc-5"
            cxxstd: "11"
          - name: "TOOLSET=gcc-6 CXXSTD=11 Job 3"
            buildtype: "boost"
            packages: "g++-6"
            packages_to_remove: ""
            os: "ubuntu-20.04"
            container: "ubuntu:14.04"
            cxx: "g++"
            sources: ""
            llvm_os: ""
            llvm_ver: ""
            toolset: "gcc-6"
            cxxstd: "11"
          - name: "TOOLSET=gcc-6 CXXSTD=14 Job 4"
            buildtype: "boost"
            packages: "g++-6"
            packages_to_remove: ""
            os: "ubuntu-20.04"
            container: "ubuntu:14.04"
            cxx: "g++"
            sources: ""
            llvm_os: ""
            llvm_ver: ""
            toolset: "gcc-6"
            cxxstd: "14"
          - name: "TOOLSET=gcc-7 CXXSTD=14 Job 5"
            buildtype: "boost"
            packages: "g++-7"
            packages_to_remove: ""
            os: "ubuntu-20.04"
            cxx: "g++"
            sources: ""
            llvm_os: ""
            llvm_ver: ""
            toolset: "gcc-7"
            cxxstd: "14"
          - name: "TOOLSET=gcc-7 CXXSTD=17 Job 6"
            buildtype: "boost"
            packages: "g++-7"
            packages_to_remove: ""
            os: "ubuntu-20.04"
            cxx: "g++"
            sources: ""
            llvm_os: ""
            llvm_ver: ""
            toolset: "gcc-7"
            cxxstd: "17"
          - name: "TOOLSET=gcc-8 CXXSTD=17 Job 7"
            buildtype: "boost"
            packages: "g++-8"
            packages_to_remove: ""
            os: "ubuntu-20.04"
            cxx: "g++"
            sources: ""
            llvm_os: ""
            llvm_ver: ""
            toolset: "gcc-8"
            cxxstd: "17"
          - name: "TOOLSET=gcc-8 CXXSTD=2a Job 8"
            buildtype: "boost"
            packages: "g++-8"
            packages_to_remove: ""
            os: "ubuntu-20.04"
            cxx: "g++"
            sources: ""
            llvm_os: ""
            llvm_ver: ""
            toolset: "gcc-8"
            cxxstd: "2a"
          - name: "TOOLSET=clang-3.4 CXXSTD=03 Job 9"
            buildtype: "boost"
            packages: "clang-3.4"
            packages_to_remove: ""
            os: "ubuntu-20.04"
            container: "ubuntu:14.04"
            cxx: "g++"
            sources: ""
            llvm_os: "trusty"
            llvm_ver: "3.4"
            toolset: "clang-3.4"
            cxxstd: "03"
          - name: "TOOLSET=clang-3.8 CXXSTD=03 Job 10"
            buildtype: "boost"
            packages: "clang-3.8 libstdc++-6-dev"
            packages_to_remove: ""
            os: "ubuntu-20.04"
            container: "ubuntu:14.04"
            cxx: "g++"
            sources: ""
            llvm_os: "trusty"
            llvm_ver: "3.8"
            toolset: "clang-3.8"
            cxxstd: "03"
          - name: "TOOLSET=clang-3.8 CXXSTD=11 Job 11"
            buildtype: "boost"
            packages: "clang-3.8 libstdc++-6-dev"
            packages_to_remove: ""
            os: "ubuntu-20.04"
            container: "ubuntu:14.04"
            cxx: "g++"
            sources: ""
            llvm_os: "trusty"
            llvm_ver: "3.8"
            toolset: "clang-3.8"
            cxxstd: "11"
          - name: "TOOLSET=clang-4.0 CXXSTD=11 Job 12"
            buildtype: "boost"
            packages: "clang-4.0 libstdc++-6-dev"
            packages_to_remove: ""
            os: "ubuntu-20.04"
            container: "ubuntu:14.04"
            cxx: "g++"
            sources: ""
            llvm_os: "trusty"
            llvm_ver: "4.0"
            toolset: "clang-4.0"
            cxxstd: "11"
          - name: "TOOLSET=clang-4.0 CXXSTD=14 Job 13"
            buildtype: "boost"
            packages: "clang-4.0 libstdc++-6-dev"
            packages_to_remove: ""
            os: "ubuntu-20.04"
            container: "ubuntu:14.04"
            cxx: "g++"
            sources: ""
            llvm_os: "trusty"
            llvm_ver: "4.0"
            toolset: "clang-4.0"
            cxxstd: "14"
          - name: "TOOLSET=clang-5.0 CXXSTD=14 Job 14"
            buildtype: "boost"
            packages: "clang-5.0 libstdc++-7-dev"
            packages_to_remove: ""
            os: "ubuntu-20.04"
            container: "ubuntu:14.04"
            cxx: "g++"
            sources: ""
            llvm_os: "trusty"
            llvm_ver: "5.0"
            toolset: "clang-5.0"
            cxxstd: "14"
          - name: "TOOLSET=clang-5.0 CXXSTD=17 Job 15"
            buildtype: "boost"
            packages: "clang-5.0 libstdc++-7-dev"
            packages_to_remove: ""
            os: "ubuntu-20.04"
            container: "ubuntu:14.04"
            cxx: "g++"
            sources: ""
            llvm_os: "trusty"
            llvm_ver: "5.0"
            toolset: "clang-5.0"
            cxxstd: "17"
          - name: "TOOLSET=clang-6.0 CXXSTD=17 Job 16"
            buildtype: "boost"
            packages: "clang-6.0 libc++-dev libstdc++-8-dev valgrind"
            packages_to_remove: ""
            os: "ubuntu-20.04"
            container: "ubuntu:14.04"
            cxx: "g++"
            sources: ""
            llvm_os: "trusty"
            llvm_ver: "6.0"
            toolset: "clang-6.0"
            cxxstd: "17"
          - name: "TOOLSET=clang-6.0 CXXSTD=2a Job 17"
            buildtype: "boost"
            packages: "clang-6.0 libc++-dev libstdc++-8-dev valgrind"
            packages_to_remove: ""
            os: "ubuntu-20.04"
            container: "ubuntu:14.04"
            cxx: "g++"
            sources: ""
            llvm_os: "trusty"
            llvm_ver: "6.0"
            toolset: "clang-6.0"
            cxxstd: "2a"
          - name: "TOOLSET=clang-6.0 CXXSTD=03 Job 18"
            buildtype: "boost"
            packages: "clang-6.0 libc++-dev libstdc++-8-dev valgrind"
            packages_to_remove: ""
            os: "ubuntu-20.04"
            container: "ubuntu:14.04"
            cxx: "g++"
            sources: ""
            llvm_os: "trusty"
            llvm_ver: "6.0"
            toolset: "clang-6.0"
            cxxstd: "03"
            cxxflags: "-stdlib=libc++"
          - name: "TOOLSET=clang-6.0 CXXSTD=17 Job 19"
            buildtype: "boost"
            packages: "clang-6.0 libc++-dev libstdc++-8-dev valgrind"
            packages_to_remove: ""
            os: "ubuntu-20.04"
            container: "ubuntu:14.04"
            cxx: "g++"
            sources: ""
            llvm_os: "trusty"
            llvm_ver: "6.0"
            toolset: "clang-6.0"
            cxxstd: "17"
            cxxflags: "-stdlib=libc++"
          - name: "COMMENT=codecov.io TOOLSET=gcc-7 DEFINES=def Job 20"
            buildtype: "6d5a3a255d-bbb3de2b00"
            packages: "g++-7"
            packages_to_remove: ""
            os: "ubuntu-20.04"
            cxx: "g++"
            sources: ""
            llvm_os: ""
            llvm_ver: ""
            comment: "codecov.io"
            toolset: "gcc-7"
            defines: "define=BOOST_NO_STRESS_TEST=1"
            b2_variant: "variant=debug"
          - name: "COMMENT=ubsan B2_VARIANT=variant=debug TOOLSE Job 21"
            buildtype: "boost"
            packages: "g++-8"
            packages_to_remove: ""
            os: "ubuntu-20.04"
            cxx: "g++"
            sources: ""
            llvm_os: ""
            llvm_ver: ""
            comment: "ubsan"
            b2_variant: "variant=debug"
            toolset: "gcc-8"
            cxxstd: "11"
            defines: "define=BOOST_NO_STRESS_TEST=1"
            cxxflags: "cxxflags=-fno-omit-frame-pointer cxxflags=-fsanitize=undefined cxxflags=-fno-sanitize-recover=undefined cxxflags=-fsanitize-recover=integer-divide-by-zero cxxflags=-fsanitize-recover=float-divide-by-zero"
            linkflags: "linkflags=-fsanitize=undefined linkflags=-fno-sanitize-recover=undefined linkflags=-fsanitize-recover=integer-divide-by-zero linkflags=-fsanitize-recover=float-divide-by-zero linkflags=-fuse-ld=gold"
            ubsan_options: "print_stacktrace=1"
          - name: "COMMENT=valgrind TOOLSET=clang-6.0 CXXSTD=11 Job 22"
            buildtype: "boost"
            packages: "clang-6.0 libc++-dev libstdc++-8-dev valgrind"
            packages_to_remove: ""
            os: "ubuntu-20.04"
            container: "ubuntu:14.04"
            cxx: "g++"
            sources: ""
            llvm_os: "trusty"
            llvm_ver: "6.0"
            comment: "valgrind"
            toolset: "clang-6.0"
            cxxstd: "11"
            defines: "define=BOOST_NO_STRESS_TEST=1"
            b2_variant: "variant=debug"
            testflags: "testing.launcher=valgrind"
            valgrind_opts: "--error-exitcode=1"
            ubsan: "1"
          - name: "COMMENT=Coverity Scan TOOLSET=gcc-7 CXXSTD= Job 23"
            buildtype: "6d5a3a255d-cce9827eb5"
            packages: "g++-7"
            packages_to_remove: ""
            os: "ubuntu-20.04"
            cxx: "g++"
            sources: ""
            llvm_os: ""
            llvm_ver: ""
            comment: "Coverity Scan"
            toolset: "gcc-7"
            cxxstd: "11"

    runs-on: ${{ matrix.os }}
    container: ${{ matrix.container }}

    steps:
      - name: Check if running in container
        if: matrix.container != ''
        run: echo "GHA_CONTAINER=${{ matrix.container }}" >> $GITHUB_ENV
      - name: If running in container, upgrade packages
        if: matrix.container != ''
        run: |
            sudo apt-get -o Acquire::Retries=3 update && DEBIAN_FRONTEND=noninteractive apt-get -y install tzdata && apt-get -o Acquire::Retries=3 install -y sudo software-properties-common wget curl apt-transport-https make apt-file sudo unzip libssl-dev build-essential autotools-dev autoconf automake g++ libc++-helpers python python-pip ruby cpio gcc-multilib g++-multilib pkgconf python3 python3-pip ccache libpython-dev
            sudo apt-add-repository ppa:git-core/ppa
            sudo apt-get -o Acquire::Retries=3 update && apt-get -o Acquire::Retries=3 -y install git
            sudo python -m pip install --upgrade pip==20.3.4
            sudo /usr/local/bin/pip install cmake

      - uses: actions/checkout@v2

      - name: linux
        shell: bash
        env:
          CXX: ${{ matrix.cxx }}
          SOURCES: ${{ matrix.sources }}
          LLVM_OS: ${{ matrix.llvm_os }}
          LLVM_VER: ${{ matrix.llvm_ver }}
          PACKAGES: ${{ matrix.packages }}
          PACKAGES_TO_REMOVE: ${{ matrix.packages_to_remove }}
          JOB_BUILDTYPE: ${{ matrix.buildtype }}
          TOOLSET: ${{ matrix.toolset }}
          CXXSTD: ${{ matrix.cxxstd }}
          CXXFLAGS: ${{ matrix.cxxflags }}
          COMMENT: ${{ matrix.comment }}
          DEFINES: ${{ matrix.defines }}
          B2_VARIANT: ${{ matrix.b2_variant }}
          LINKFLAGS: ${{ matrix.linkflags }}
          UBSAN_OPTIONS: ${{ matrix.ubsan_options }}
          TESTFLAGS: ${{ matrix.testflags }}
          VALGRIND_OPTS: ${{ matrix.valgrind_opts }}
          UBSAN: ${{ matrix.ubsan }}
          TRAVIS_BRANCH: ${{ github.base_ref }}
          TRAVIS_OS_NAME: "linux"
        run: |
          echo '==================================> SETUP'
          echo '==================================> PACKAGES'
          set -e
          if [ -n "$PACKAGES_TO_REMOVE" ]; then sudo apt-get purge -y $PACKAGES_TO_REMOVE; fi
          echo ">>>>> APT: REPO.."
          for i in {1..3}; do sudo -E apt-add-repository -y "ppa:ubuntu-toolchain-r/test" && break || sleep 2; done
          
          if test -n "${LLVM_OS}" ; then
              wget -O - https://apt.llvm.org/llvm-snapshot.gpg.key | sudo apt-key add -
              if test -n "${LLVM_VER}" ; then
                  sudo -E apt-add-repository "deb http://apt.llvm.org/${LLVM_OS}/ llvm-toolchain-${LLVM_OS}-${LLVM_VER} main"
              else
                  # Snapshot (i.e. trunk) build of clang
                  sudo -E apt-add-repository "deb http://apt.llvm.org/${LLVM_OS}/ llvm-toolchain-${LLVM_OS} main"
              fi
          fi
          echo ">>>>> APT: UPDATE.."
          sudo -E apt-get -o Acquire::Retries=3 update
          if test -n "${SOURCES}" ; then
              echo ">>>>> APT: INSTALL SOURCES.."
              for SOURCE in $SOURCES; do
                  sudo -E apt-add-repository ppa:$SOURCE
              done
          fi
          echo ">>>>> APT: INSTALL ${PACKAGES}.."
          sudo -E DEBIAN_FRONTEND=noninteractive apt-get -o Acquire::Retries=3 -y --no-install-suggests --no-install-recommends install ${PACKAGES}

          echo '==================================> INSTALL AND COMPILE'
          set -e
          export TRAVIS_BUILD_DIR=$(pwd)
          export TRAVIS_BRANCH=${TRAVIS_BRANCH:-$(echo $GITHUB_REF | awk 'BEGIN { FS = "/" } ; { print $3 }')}
          export VCS_COMMIT_ID=$GITHUB_SHA
          export GIT_COMMIT=$GITHUB_SHA
          export REPO_NAME=$(basename $GITHUB_REPOSITORY)
          export USER=$(whoami)
          export CC=${CC:-gcc}
          export PATH=~/.local/bin:/usr/local/bin:$PATH

          if [ "$JOB_BUILDTYPE" == "boost" ]; then

          echo '==================================> INSTALL'

          git clone https://github.com/jeking3/boost-ci.git boost-ci
          cp -pr boost-ci/ci boost-ci/.codecov.yml .

          if [ "$TRAVIS_OS_NAME" == "osx" ]; then
              unset -f cd
          fi

          export SELF=`basename $REPO_NAME`
          export BOOST_CI_TARGET_BRANCH="$TRAVIS_BRANCH"
          export BOOST_CI_SRC_FOLDER=$(pwd)

          . ./ci/common_install.sh

          echo '==================================> SCRIPT'

          cd $BOOST_ROOT/libs/$SELF
          ci/travis/build.sh

          elif [ "$JOB_BUILDTYPE" == "6d5a3a255d-bbb3de2b00" ]; then

          echo '==================================> INSTALL'

          git clone https://github.com/jeking3/boost-ci.git boost-ci
          cp -pr boost-ci/ci boost-ci/.codecov.yml .

          if [ "$TRAVIS_OS_NAME" == "osx" ]; then
              unset -f cd
          fi

          export SELF=`basename $REPO_NAME`
          export BOOST_CI_TARGET_BRANCH="$TRAVIS_BRANCH"
          export BOOST_CI_SRC_FOLDER=$(pwd)

          . ./ci/common_install.sh

          echo '==================================> SCRIPT'

          pushd /tmp && git clone https://github.com/linux-test-project/lcov.git && export PATH=/tmp/lcov/bin:$PATH && which lcov && lcov --version && popd
          cd $BOOST_ROOT/libs/$SELF
          ci/travis/codecov.sh

          elif [ "$JOB_BUILDTYPE" == "6d5a3a255d-cce9827eb5" ]; then

          echo '==================================> INSTALL'

          git clone https://github.com/jeking3/boost-ci.git boost-ci
          cp -pr boost-ci/ci boost-ci/.codecov.yml .

          if [ "$TRAVIS_OS_NAME" == "osx" ]; then
              unset -f cd
          fi

          export SELF=`basename $REPO_NAME`
          export BOOST_CI_TARGET_BRANCH="$TRAVIS_BRANCH"
          export BOOST_CI_SRC_FOLDER=$(pwd)

          . ./ci/common_install.sh

          echo '==================================> SCRIPT'

          if  [ -n "${COVERITY_SCAN_NOTIFICATION_EMAIL}" -a \( "$TRAVIS_BRANCH" = "develop" -o "$TRAVIS_BRANCH" = "master" \) -a \("$GITHUB_EVENT_NAME" = "push" -o "$GITHUB_EVENT_NAME" = "cron" \) ] ; then
          cd $BOOST_ROOT/libs/$SELF
          ci/travis/coverity.sh
          fi

          fi
